// primary
$Pink: hsl(322, 100%, 66%);
$headerBtn: hsl(321, 100%, 78%);
$Light-Red: hsl(0, 100%, 63%);

// neutral
$Very-Dark-Cyan: hsl(192, 100%, 9%);
$Very-Pale-Blue: hsl(207, 100%, 98%);
$Grayish-Blue: rgb(128, 141, 153);

$hv_icon: 	invert(52%) sepia(20%) 
		  	saturate(6164%) hue-rotate(294deg)
		  	brightness(101%) contrast(101%);
